﻿<nav>
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>&nbsp;|&nbsp;
    <NavLink href="PiCounter">Pi</NavLink>&nbsp;|&nbsp;
    <NavLink href="PrimeCounter">Prime</NavLink>&nbsp;|&nbsp;
    <NavLink href="PhotoLoad">Images</NavLink>&nbsp;|&nbsp;
    <NavLink href="TableCreator">Tablecreator</NavLink>
</nav>
