﻿@page "/PhotoLoad"

<div class="imageBox">
    <img src="/Images/1.jfif" width="100%">
    <img src="/Images/2.jfif" width="100%">
    <img src="/Images/3.jfif" width="100%">
    <img src="/Images/4.jfif" width="100%">
    <img src="/Images/5.jfif" width="100%">
    <img src="/Images/6.jfif" width="100%">
    <img src="/Images/7.jfif" width="100%">
    <img src="/Images/8.jfif" width="100%">
    <img src="/Images/9.jfif" width="100%">
    <img src="/Images/10.jfif" width="100%">
</div>
