﻿@page "/PiCounter"
@using System.Collections.Concurrent
@using System.Diagnostics
@using System.Threading

<h1>Pi Calculator</h1>

<button @onclick="calcPi">Calculate pi to 1000th number</button>

<h1>Done in: @timerResult milliseconds</h1>

<h1>Result: @sumEnd</h1>

@code {
    private string sumEnd;
    private double timerResult;

    private void calcPi()
    {
        var startTime = DateTime.UtcNow;
        var digits = 1000;

        digits++;

        uint[] x = new uint[digits * 10 / 3 + 2];
        uint[] r = new uint[digits * 10 / 3 + 2];

        uint[] pi = new uint[digits];

        for (int j = 0; j < x.Length; j++)
            x[j] = 20;

        for (int i = 0; i < digits; i++)
        {
            uint carry = 0;
            for (int j = 0; j < x.Length; j++)
            {
                uint num = (uint)(x.Length - j - 1);
                uint dem = num * 2 + 1;

                x[j] += carry;

                uint q = x[j] / dem;
                r[j] = x[j] % dem;

                carry = q * num;
            }


            pi[i] = (x[x.Length - 1] / 10);


            r[x.Length - 1] = x[x.Length - 1] % 10; ;

            for (int j = 0; j < x.Length; j++)
                x[j] = r[j] * 10;
        }

        var result = "";

        uint c = 0;

        for (int i = pi.Length - 1; i >= 0; i--)
        {
            pi[i] += c;
            c = pi[i] / 10;

            result = (pi[i] % 10).ToString() + result;
        }
        timerResult = DateTime.UtcNow.Subtract(startTime).TotalMilliseconds;
        sumEnd = result;
    }
}
