﻿@page "/PrimeCounter"
@using System.Diagnostics
@using System.Threading


<h1>Prime number calculator</h1>
<button @onclick="prime_num">Calculate prime numbers</button>
<h1>Done in: @timerEnd milliseconds</h1>
<h1>Result: @primeNumbers</h1>



@code {
    private string primeNumbers;
    private double timerEnd;

    private void prime_num()
    {
        long num = 20000;
        var startTime = DateTime.UtcNow;


        bool isPrime = true;
        for (int i = 0; i <= num; i++)
        {
            for (int j = 2; j <= num; j++)
            {
                if (i != j && i % j == 0)
                {
                    isPrime = false;
                    break;
                }
            }
            if (isPrime)
            {
                primeNumbers = primeNumbers + " , " + i;
            }
            isPrime = true;
        }

        timerEnd = DateTime.UtcNow.Subtract(startTime).TotalMilliseconds;
    }

}
