﻿@page "/TableCreator"
@using System.Net.Http
@using BlazorSampleApp.Models
@inject HttpClient Http

<h1>Create table of persons</h1>

<button @onclick="GetPersons">Get data and create table</button>

@if (_persons != null)
{
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>IP</th>
            <th>Country</th>
        </tr>
        @foreach (var person in _persons)
        {
            <tr class="person">
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.EmailAddress</td>
                <td>@person.Gender</td>
                <td>@person.IpAddress</td>
                <td>@person.Country</td>
            </tr>
        }
    </table>
}

@code {
    private Person[] _persons;

    private async Task GetPersons()
    {
        _persons = null;
        _persons = await Http.GetJsonAsync<Person[]>("https://al-test-api.herokuapp.com/data");
    }
}
